* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;  
}

@font-face {
  font-family: 'HARRYP__';
  src: url('../assets/HARRYP__.TTF');
}

html {
  font-family: "HARRYP__";
}

.login-section {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.content {
  height: 80vh;
  width: 100%;
  max-width: 70%;
  background-color: #18181b;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
}

.form--login  form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


.form--login h1 {
  color: #f0c75e;
  margin-bottom: 20px;
  font-size: 30px;
}

.form--login label {
  margin-top: 10px;
  
  font-size: 20px;
  color: white;
}

.input-form {
  border-radius: 4px;
  margin: 15px 0; 
  padding: 10px 20px;
  background-color: #a9a9a9;
  outline-style: none;
}

.input-form:focus{
  background-color: black;
  color: white;
  
}

.btn--login {
  border-radius: 4px;
  margin: 15px 0;
  padding: 8px 75px;
  background-color: #f0c75e;
  cursor: pointer;
  transition: all .3s;
  font-family: "HARRYP__";
  font-size: 30px;
}

.btn--login:hover {
  background-color: #ecb939;
}

.image {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #f0c75e;

  padding-left: 80px;
  animation: animate;
  animation-duration: 1000ms;
}

@keyframes animate {
  from{opacity: 1;}
  from{opacity: 0;}
  
}
.image img {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 1000px){
  .content {
    text-align: center;
    height: 90vh;
    flex-direction: column;
  }

  .form--login  form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
}